*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  justify-content: center; 
  align-items: end;
  gap: 21px;
}

.result {
  width: 569px;
  height: 365px;
}

.result__video-container {
  width: 569px;
  height: 309px;
  position: relative;
  margin-bottom: 8px;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 25.5px;
  letter-spacing: 0.2px;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 319px;
  height: 428px;
  gap: 16px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 57px;
  word-spacing: -1px;
  text-transform: uppercase;
  color: #fff;
  margin-left: 2px;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  width: 323px;
  height: 241px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
  gap: 26px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.content__list-item {
  height: 84px;
  padding: 3px;
}

.content__card-link {
  display: block;
  width: 312px;
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  display: flex;
  align-items: start;
  width: 100%;
  height: 100%;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 0;
  width: 100%;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 14.5px;
  line-height: 21px;
}

.content__video-card-thumbnail {
  min-width: 154px;
  height: 82px;
  object-fit: cover;
  object-position: right;
}

.visually-hidden {
  position: absolute;
  inline-size: 40px;
  block-size: 10px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 11px;
  width: 168px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 2.5px;
}

.search-form__textfield {
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  appearance: none;
  min-width: 178px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.content__card-link:focus,
.button:focus,
.search-form__label:has(:focus) {
  outline: none;
}

.content__card-link:focus-visible,
.button:focus-visible,
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-right: 4px;
}

.search-form__pseudo-checkbox::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after{
  opacity: 1;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::after {
  background: #545050;
}

.search-form__checkbox:focus {
  outline: auto;
}

.content__video-card:hover,
.button:hover,
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.content__video-card-thumbnail,
.button:hover,
.search-form__label:hover .search-form__label-text {
  cursor: url(../images/cursor_image.png), pointer;
}

.button {
  outline: 1px solid #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color:#fff;
  text-align: center;
  background-color: transparent;
}

.search-form__submit-button {
  width: 155px;
  height: 26px;
  align-self: end; 
}

.more-button {
  line-height: 19px;
  inline-size: calc(100% - 4px);
  margin: 0 2px 2px;
}

.button:active {
  background: #545050;
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link_current {
  background: #545050;
}